/*
 * Main.CSS
 *
 * Location of common CSS Styles used throughout the app
 * TBD - SC - pull in styles from other stylesheets to populate the basic styles
 */

/*--------------------------------------------------------------------
--  General/Shared CSS
----------------------------------------------------------------------*/
h1,h2,h3 {color:#2d4175;font-weight:300;}
input[type='text'],select {height: 18px;width:150px;color:#656565;}
 
@font-face {
	font-style: normal;
	font-weight: normal;
	font-family: "HelveticaNeue-Light";
	src: url(../font/688ab72b-4deb-4e15-a088-89166978d469.ttf) format('TrueType');/*src:url(../font/7816f72f-f47e-4715-8cd7-960e3723846a.svg);	
					src:url(../font/530dee22-e3c1-4e9f-bf62-c31d510d9656.woff) format('woff');*/
					
}
@font-face {
	font-style: normal;
	font-weight: normal;
	font-family: "HelveticaNeue-Medium";
	src: url(../font/4c6503c9-859b-4d3b-a1d5-2d42e1222415.ttf) format("TrueType");/*src:url(../font/36c182c6-ef98-4021-9b0d-d63122c2bbf5.svg);	*/
							
}
body div {
	font-family: HelveticaNeue-Light;
	color: #656565;
	font-weight: 200;
}
 
/*img pdf - set some special styles for these*/
{
	img.img-pdf {padding:0px; margin:0px; height:auto;width:auto;}
}
 
 /*--------------------------------------------------------------------
--  Page container
----------------------------------------------------------------------*/
div.app-page {display:none;}
div.app-page.primaryContainer {display:block;}
div.container-page {position:relative;margin-top: 75px;}
div.container-page .row {padding-left: 1%;padding-right: 1%;width:98%;max-width:960px;clear: both;height: auto;margin: 0px auto;}

/*--------------------------------------------------------------------
--  Pseudo-Responsive
----------------------------------------------------------------------*/
div.container-page .columns {float:left;padding-left:1%; padding-right:1%;}

/*--------------------------------------------------------------------
--  Message container
----------------------------------------------------------------------*/
div.message-container-bg {display:none; margin:0px auto; padding:0px; position: fixed;top:0px ;left: 0px; width:100%; height:100%; z-index: 1001; background-color: #000000; opacity:0.15; }
div.message-container {display:none;top: 40%;position: fixed; z-index: 1002; width: 90%; max-width:320px; margin: 0px auto; margin-right:20px; border: 1px solid #a2aaad;
					     border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;background-color:#ffffff;}
div.message-container span.icon-close {float:right;background:url('../img/icon-delete-basic-black.png') center center no-repeat;background-size:25px 25px; 
                                       height:25px; width:25px;margin-right:-10px;margin-top:-10px;}
div.message-container span.icon-close:hover {cursor:pointer;}

div.message-container span.title, div.message-container.info span.title {display:block;padding: 2% 3% 2% 3%;font-weight:bold;background:#f2f2f2;border-bottom: 1px solid #e3e5e7;color:#00ad50;}
div.message-container div.body, div.message-container.info div.body {margin: 3% 3% 3% 3%;font-weight:normal;color:#212322;}
div.message-container.error span.title {color:Maroon;border-radius: 5px 5px 0px 0px;-moz-border-radius:  5px 5px 0px 0px;-webkit-border-radius:  5px 5px 0px 0px;}
div.message-container.error div.body {color:Maroon;}
div.message-container.warning span.title {color:#93328E;}
div.message-container.warning div.body {color:#93328E;}

/*--------------------------------------------------------------------
--  Loading container
----------------------------------------------------------------------*/
div.loading-container {display:none;top: 40%;position: fixed; z-index: 1002; width: 40px; height:40px; margin: 0px auto; border: 1px solid #a2aaad;
					     padding:20px;border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;
						 background: url('../img/icon-loading.gif') no-repeat center center; background-color:#ffffff;
  						 -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
          				 box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
						 }

/*--------------------------------------------------------------------
--  Page 1
----------------------------------------------------------------------*/
#page1-prod-image-container {position:relative;height:210px;width:80%;margin:0px auto;margin-top:-30px; z-index:-1;}
#page1-prod-image-container img.product-image {position:absolute;width: 100%;height:auto;}

/*Banner*/
#page1 .row.banner-image {padding-left: 0px;padding-right: 0px;width:100%;max-width:100%;margin-bottom:10px;}
#page1 .row.banner-image #Image-bg {	width: 100%;max-width: 100%;height: auto;}
#page1 .row.banner-image p#version {display:inline;margin:0px auto;position:absolute;top:80%;left:2%;color:#FFFFFF;}

/*sidebar*/
#page1 .row .sidebar {float: left;width: 25%;margin-left: 1%;}
#page1 .sidebar .sidebar-panel {margin-bottom:10px;}
#page1 .sidebar .sidebar-panel .section-heading {display:block;color: rgb(45, 66, 117); font-weight:200;font-size: 15px; }
#page1 .sidebar .sidebar-panel p{font-family: HelveticaNeue-Light;	color: #656565;	font-size: 14px; margin-top:2px; margin-bottom:2px;}
#page1 .sidebar .sidebar-panel p span.value {color:#000000;}
#page1 .sidebar .sidebar-panel p#customer-text {color:#000000;}
#page1 .sidebar .sidebar-panel .entry-field {margin-left:1%;margin-top:2px;margin-bottom:2px;}
#page1 .sidebar .sidebar-panel.productname .entry-field {margin-left:0px;}
#page1 .sidebar .sidebar-panel .entry-field span.caption {display:inline-block;width:60%;color: #656565;font-size: 14px;}
#page1 .sidebar .sidebar-panel .entry-field .section-heading {display:inline-block;}
#page1 .sidebar .sidebar-panel .entry-field .input-box-page1 {width: 35%;padding:0px; margin:0px;}
#page1 .sidebar .sidebar-panel .entry-field select {width: 99%;padding:0px;margin:0px;}
#page1 .sidebar .product-image {width: 200px;max-width: 100%;height: auto;display: block;}

/*Sliders*/
#page1 .row .container-sliders {float: left;	width: 70%;	margin-left: 2%;margin-right: 2%;}

/*--------------------------------------------------------------------
--  Page 2
----------------------------------------------------------------------*/
#page2 div.container-page {margin-top:60px;}
#page2 div.container-page .row {padding-left: 0%;padding-right: 0%;width: 100%;}

/*sidebar*/
#page2 .sidebar-panel {width:29%;height: inherit;padding-left:0px;padding-right:0px;}
#page2 .sidebar-panel #Results {font-size: 30px;width: 60%;	color:#2d4175;
	margin-top: 10px;margin-bottom: 10px;margin-left:2%;}
#page2 .product-name {display:block;font-size: 24px;color:#2d4175;}
#page2 .sidebar-panel .product-name {margin-top:0px; margin-bottom:2px; margin-left: 2%;}
#page2 .sidepanel-wrapper .product-name {margin-top:0px; margin-bottom:0px; margin-left: 10px;}
#page2 #page2-prod-image-container .product-name {position: absolute;}

#page2 .sidebar-panel .benefit-container {margin-left:2%;width: 97%;}
#page2 .sidebar-panel .benefit-container #benefit-title {margin-bottom:5px;font-size: 1em;	height: auto;line-height: 1em;
	text-align: left;font-weight: 300;clear: both;color: rgb(102, 102, 102);}
#page2 .sidebar-panel .benefit-container #benefit-text {margin-top:0px;line-height: 1em;clear: none;min-height: 61px;	
	font-size: 12px;font-weight: 500;color: rgb(102, 102, 102);}

/*page 2 body content*/
#page2 .body-content {width: 67%;padding-right:0px;padding-left: 2%;border-left: 2px solid #2d4175;}
#page2 #circledefinition-panel {width:100%;margin-top:10px;}
	
/*prod image*/
#page2 #page2-prod-image-container {float: left;width: 54%;height: auto;position: relative;}
#page2 #page2-prod-image-container img {width: 100%;height: auto;position: absolute;}
/*vertical nav - see also vnav.css*/
#page2 .vnav {float:left;width: 40%;margin-left: 0%;padding: 0px;}
#page2 .vnav ul {padding-left:0px;}

/*Icons shown above rank entry ui*/
div.appType-indicator-panel {float: left;padding-left: 0px;width: 100%;height: auto;padding-bottom: 0px;margin-top: 0px;}
div.appType-indicator-panel ul {padding-left:0px;}
div.appType-indicator-panel li {display:inline-block;margin:0px; margin-right:2%; padding:0px; min-width:50px;}
div.appType-indicator-panel li img {width:50px; height:auto;display:none;}
div.appType-indicator-panel li img.show {display:inline-block;}
div.appType-indicator-panel li span.rank-caption {display:inline-block;color:rgba(45,65,117,1.00);text-align: center;margin-top: 3px;}
/*End Icons shown above rank entry ui*/

#page2 #attribute-img-panel {
	float: left;width: 97%;padding:0px; padding-left:2%;margin:0px; 
	height: 75px;color: rgb(0, 0, 0);
}

#page2 #properties-panel {
	float: left;
	width: 68%;
	padding:0px;
	padding-left:2%;
	padding-right: 2%;
	margin:0px;
	margin-right: 2%;
	height: 210px;
	color: rgb(0, 0, 0);
	background-image: url(../img/properties_panel_outline_small.png);
	background-position: 0px 0px;
	background-repeat: no-repeat;
	background-size: 100%;
}

 
/*--------------------------------------------------------------------
--  Quote View
----------------------------------------------------------------------*/
/*Quoteview - general settings */
#quote-wrapper {display:none;}
#quote-wrapper .container-page {height:100%;}

/*Quoteview - heading */
#quote-product-name{display:block;font-size: 30px;color:#2d4175;}

/*Quoteview - prod image, overview, calendar */
.overview-box  {float: left;width: 32%;height: auto;margin-right:1%;margin-bottom: 10px;}
.overview-box .section-heading{width: 96%;padding: 2% 2%;display:block;font-size: 20px; color:#2d4175;}

#quote-product-image-container {position:relative;width: 94%;margin:0px auto;margin-top: -65px;}
#quote-product-image-container img.product-image {position:absolute;width: 100%;height:auto;}

.overview-box .section-details {padding: 0px 2%;}
.overview-box ul {margin-left:0px; margin-top:0px; padding-left: 2%; color:rgb(102, 102, 102); font-size:14px; }
.overview-box ul li {margin-left:0px;height: auto;padding:  5px 0px;border-bottom:1px solid #000;}
.overview-box ul li div.icons {float:right;width: 115px;}
.overview-box ul.list-overview.quote-overview li img{width: 15px;height: auto;top:4px;padding-right:7px;}
.overview-box ul.list-overview.quote-overview li img.incomplete { opacity: 0.4; filter: alpha(opacity=40); /* For IE8 and earlier */}  /* For in active icons */ 
.overview-box.calendar .calendar-details { position:relative; float:right; padding-right:2px; font-size:12px; color:rgb(133, 133, 133);  }

/*Quoteview - Benefit boxes */
.container-quoteview-benefit {width: 67%;float: left;}
.container-quoteview-benefit .quoteview-benefit-panel {float: left;width: 48.4%;height: 150px;margin-right:1%;margin-bottom:10px;border:1px solid #666666;}
.container-quoteview-benefit .quoteview-benefit-panel .section-heading{width: 96%;padding: 2% 2%;display:block;background-color:#2d4175;color:#FFFFFF;border:1px solid #2d4175;  }
.container-quoteview-benefit .quoteview-benefit-panel .section-body{margin:2%;font-size: 14px;}

.container-quoteview-benefit-yes-no {width: 33%;margin:0px;float: left;}
.container-quoteview-benefit-yes-no .section-heading{width: 96%;padding: 2% 2%;display:block;background-color:#2d4175;color:#FFFFFF;border:1px solid #2d4175; }
.container-quoteview-benefit-yes-no .quoteview-benefit-panel {float: none;width: 100%;height: auto;margin:10px 0px;border:1px solid #666666;}
.container-quoteview-benefit-yes-no .quoteview-benefit-panel .section-body{margin:2%;font-size: 14px;}
.container-quoteview-benefit-yes-no .quoteview-benefit-panel .icon-yes, 
.container-quoteview-benefit-yes-no .quoteview-benefit-panel .icon-no {
                                       float:right;
                                       background:url('../img/icon-check-green-1.png') center center no-repeat;
                                       background-size:80%;
                                       height:25px;
                                       width:25px;
                                       margin-right: 5px;
                                       margin-top: 2px;
                                       }
.container-quoteview-benefit-yes-no .quoteview-benefit-panel .icon-no{background:url('../img/icon-no-entry.png') center center no-repeat;background-size:80%}

/*--------------------------------------------------------------------
--  Quote View - Make these common classes instead of page specific
----------------------------------------------------------------------*/
#divide {
	float: left;
	width: 100%;
	max-width: 100%;
	height: 2px;
	color: rgb(0, 0, 0);
	position: fixed;
	top: 59px;
	left: 0px;
	z-index: 191;
	clear: none;
	min-width: 0px;
	bottom: auto;
}

#btn-print {
	float: left;
	width: 55px;
	height: 60px;
	clear: none;
	color: rgb(0, 0, 0);
	position: fixed;
	top: 48px;
	left: 924px;
	max-width: none;
}



/*--------------------------------------------------------------------
--  Quote History
----------------------------------------------------------------------*/
/*Quoteview - general settings */
#quote-history {display:none;}
#quote-history .container-page {min-height:100%;}

/* ----- Grid in ul html format -------------------------------------- */
ul.ul-grid {margin: 0px 0px 20px 0px;padding:0px;border: 1px solid #e3e5e7;}
ul.ul-grid.header {margin-bottom: 0px; }
ul.ul-grid li {padding:5px 0px 5px 0px;padding-left:0px;margin-bottom: 0px;margin-left: 0px;background-color:#FFFFFF;}
ul.ul-grid li.row-header {background-color:rgb(45, 66, 117);}
ul.ul-grid li span.col {font-size:13px; padding-right:1%;display:inline-block; width: auto; text-align:left; vertical-align:top; color:#212322;}
ul.ul-grid li.row-header span.col {color:#FFFFFF;}
ul.ul-grid li.grid-row-alternate {background-color:#e3e5e7;}
ul.ul-grid li.grid-row-alternate span.col{color:#212322;}
ul.ul-grid li span.col a.icon_quote_pdf{margin-top:0px;background:url('../img/pdf.png') center center no-repeat;background-size:80%;padding: 10% 0px;color:transparent;text-indent:-100px;}
ul.ul-grid li span.col a.icon_quote_delete{margin-top:0px;background:url('../img/icon-delete-basic-black.png') center center no-repeat;background-size:70%;padding: 10% 0px;color:transparent;text-indent:-100px;}

/*col widths, sort, align*/
ul.ul-grid li span.col.col70{width: 68%;padding-left:1%;}
ul.ul-grid li span.col.col40{width: 39%;}
ul.ul-grid li span.col.col30{width: 29%;}
ul.ul-grid li span.col.col20{width: 19%;}
ul.ul-grid li span.col.col15{width: 14%;}
ul.ul-grid li span.col.col10{width:9%;}
ul.ul-grid li span.col.col7{width: 6%;}
ul.ul-grid li span.col:first-child {padding-left:2%;}
ul.ul-grid li span.col:last-child {padding-right:2%;}
ul.ul-grid li span.col.col-left{text-align:left;}
ul.ul-grid li span.col.col-center{text-align:center;}
ul.ul-grid li span.col.col-right{text-align:right;}

ul.ul-grid li span.sortorder:after {content: '\25b2';}
ul.ul-grid li span.sortorder.reverse:after {content: '\25bc';}

/*search ui*/
.quote-search-container {width:50%; margin:0px auto;position:relative;}
.txt-search-ui {width: 100%;margin: 0px auto;padding: 1%;margin-bottom:10px;
	display: inline-block;	border: 1px solid rgb(153, 153, 153);	border-radius: 9px;
}
.txt-search-ui .txt-search {float:left;width: 91%;height: auto;font-size: 18px;border:none;text-indent: 1%;}
.txt-search-ui .icon-search {float:left; width:8%;
	background-image: url("../img/search.png"); background-repeat: no-repeat;
	-webkit-background-size: 20px;
	background-size: 20px;
	background-position: 80% 1px;
}
.txt-search-ui .txt-search:link,
.txt-search-ui .txt-search:link,
.txt-search-ui .txt-search:visited,
.txt-search-ui .txt-search:hover,
.txt-search-ui .txt-search:focus,
.txt-search-ui .txt-search:active{outline:none;}

/*--------------------------------------------------------------------
--  New Customer Page, Customer Select Page - container settings
-- 	This could be re-factored out.
----------------------------------------------------------------------*/
#new-customer, #new-quote {
	float: left;
	height: 100%;
	clear: both;
	width: 100%;
	/* position: fixed; */
	top: 0px;
	left: 0%;
	background-color: rgba(255,255,255,1.00);
	min-height: 0px;
	z-index: 6;
	display:none;
}

#new-customer h2, #new-quote h2 {margin-top:0px;margin-bottom:10px;text-align:center;}

/*--------------------------------------------------------------------
--  Customer Select Page
----------------------------------------------------------------------*/

/*Search drop down ui */
div.search-container {margin:0px auto;margin-bottom: 0px;width: 50%;position: relative;}	
div.search-container #search {
}

#search:link,
#search:visited,
#search:hover,
#search:focus,
#search:active{
	outline:none;
	
}
div.search-container #search-results {
	margin:0px auto;
	max-height: 430px;
	width: 98%;
	height:auto;
	clear: none;
	background-color: rgba(255,255,255,1.00);
	position: absolute;
	top: 36px;
	z-index: 14;
	display: none;
	border: 1px solid #999999;
	overflow: auto;
	padding:5px;
}


.search-results-list{
	display:none; 
	list-style:none; 
	border-width: 1px 0px 0px 0px; 
	border-top-color:gray; 
	border-style:solid;
	height:30px;
	line-height:30px;
	z-index:12;
}
.search-results-list:first-child {border-top:none;}

.search-results-list:hover{
	background-color:#e5e5e5;
	cursor:pointer;
	
}

/*Customer select entry area*/
/*also used in new customer ui*/
div.btns {margin:0px auto;width: 75%;}	
div.entry-area {margin:0px auto;width: 80%;}	
div.entry-area .entry-field {margin-bottom: 6px;}
div.entry-area .entry-field .caption {width: 37%;margin-right:1%;text-align:right;font-size: 18px;color:rgb(45, 66, 117);display: inline-block;}
div.entry-area .entry-field .value {width: 61%;float:right;margin-top: 2px;font-size: 18px;}
div.entry-area .entry-field .section-heading {width: 37%;margin-right:1%;text-align:right;font-weight:300;font-size: 22px;color:rgb(45, 66, 117);display: inline-block;}
div.entry-area .entry-field #customer-name.value {font-size: 20px;line-height: 22px;}
div.entry-area .entry-field input[type='text'].wide {width:50%;}

/*Dropdown select*/
div.entry-area .entry-field div.ddl-container {
    display:inline-block;width: 250px;height: 30px; padding: 0px; margin:0px; margin-bottom: 4px; line-height: 30px; text-indent: 10px;
    border-width: 0px 0px 1px 0px;position: relative;
	background-color: #e5e5e5;
}
div.entry-area .entry-field div.ddl-container ul {display:none; z-index:99; width: 100%;padding: 0px; margin:0px; min-height:0px; max-height:150px;overflow-y:scroll;
											  position:absolute;top:30px;border:1px solid #A2AAAD;background-color: #e5e5e5;}
div.entry-area .entry-field div.ddl-container ul li {border-top:1px solid #A2AAAD; }
div.entry-area .entry-field div.ddl-container ul li:first-child {border-top:none;}
/*hover styles*/
div.entry-area .entry-field div.ddl-container ul li:hover {cursor:pointer;background-color:#2d4175;color:#FFFFFF; }

div.entry-area .entry-field div.ddl-container .drop-down-btn {
	position: relative;	border: #99999;	background-color:#2d4175;border-style: solid;border-width: 0px 0px 0px 1px;
	height: 30px;width: 33px;float: right;right: 0px;top: 0px;cursor: pointer;}
div.entry-area .entry-field div.ddl-container .drop-down-btn:hover {border-width: 0px 0px 0px 1px;opacity:0.8;}
div.entry-area .entry-field div.ddl-container .arrow {
	position: absolute;
	top: 2px;
	right: 8px;
	border: solid;
	border-color:#FFFFFF;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding-top: 8px;
	padding-right: 8px;
	padding-left: 8px;
	padding-bottom: 8px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);

}


@media (max-width : 847px ){
	
	.top-nav-btn {
    font-size: 1.75em;
    width: 290px;
	
}
}

	
/*--------------------------------------------------------------------
--  Standard Button Style
----------------------------------------------------------------------*/
a.btn-standard {
    font-family: HelveticaNeue-Light;
    background: #ffffff;
    color: rgba(45,65,117,1.00);
    border: 2px solid rgba(45,65,117,1.00);
    border-radius: 4px;
    font-size: 15px;
    padding: 3px 18px;
    margin: 0px;
    text-decoration: none;
    line-height:21px;
}
a.btn-standard:hover {background: rgba(45,65,117,1.00); border-radius: 4px; color: #ffffff; text-decoration: none;}

/*--------------------------------------------------------------------
--  Nav Buttons / Inline Buttons
----------------------------------------------------------------------*/
div.nav-btns {float: left;position: fixed;top: 20px;left: 20px;width:100%;z-index: 67;}
div.nav-btns ul {margin:0px; padding:0px;}
div.nav-btns ul li {display:inline-block;padding:0px; padding-right:10px;}
div.nav-btns ul li.hide {display:none;}
div.nav-btns ul li  img.nav-button {	width: 28px;height: auto;vertical-align:middle; color: rgb(0, 0, 0);clear: none;}
div.nav-btns ul li  img.nav-button:hover{cursor: pointer;}
div.nav-btns ul li.li-menu #btnMenu {}
div.nav-btns ul li.li-menu #btnMenu:hover {}
/* EMAIL PDF */
div.nav-btns ul li.li-email img {}
/*New quote*/
div.nav-btns ul li.li-new-quote #btnNew {}
div.nav-btns ul li.li-new-quote #btnNew:hover {}
/**/
div.nav-btns ul li a.btn-standard {vertical-align:middle;}

/*next screen button*/
.btn-next {width: 55px;height: 60px;color: rgb(0, 0, 0);cursor:pointer;float: right;margin-top:0px;}


/*--------------------------------------------------------------------
--  Inline Navigation - only on some pages
----------------------------------------------------------------------*/
.productselector-nav {font-family: Helvetica, Arial, sans-serif;padding-bottom:20px;}
.productselector-nav ul {margin: 0px auto; padding: 0; border: 0;text-align:center;}
.productselector-nav ul li {margin: 0; padding: 0; display: inline-block; list-style: none;text-align:center;}
.productselector-nav.align-right ul li {float: right;}
.productselector-nav.align-center ul {text-align: center;}
.productselector-nav ul li a {margin: 0; padding: 0px 15px; text-align:center;
                              font-size: 16px; text-decoration: none; color: rgb(102, 102, 102);}
.productselector-nav ul li:hover a,
.productselector-nav ul li a:hover,
.productselector-nav ul li.active a {
  color: rgb(45, 66, 117);
  text-decoration:underline;
}

/*--------------------------------------------------------------------
--  Menu
----------------------------------------------------------------------*/
/*Start of Menu*/
#menuBackDrop {
	background-color: rgba(0,0,0,0.60);
	top: 0px;
	left: 0px;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 11;
	display: none;
}
#menu {
	position: fixed;
	top: -303px;
	left: 25%;
	width: 450px;
	height: 295px;
	z-index: 20;
	border-radius: 10px;
	border:1px solid #a2aaad;
	background-color: rgba(255,255,255,0.99);
	overflow: hidden;
	-webkit-transform: translate3d(0px, 0px, 0px);
	transform: translate3d(0px, 0px, 0px);
	display: block;
}


/* NOTE: Menu was covering content in resting phase. It is now fixed*/ 

/* animate menu */ 
@-webkit-keyframes menu-down {
 0% {
top: -325px;
}
 100% {
top: 120px;
}
}

/* animate menu */ 
@-webkit-keyframes menu-up {
 0% {
top: 120px;
}
 100% {
top: -325px;
}
}



#menu-title {
	position: absolute;
	width: 100%;
	text-align: center;
	font-size: 26px;
	color: #2d4175;
}
#menu-ul {
	position: absolute;
	top: 51px;
	left: 0px;
	width: 89%;
}
.menu-li {
	height: 40px;
	width: 93%;
	list-style: none;
	border-width: 1px 0px 0px 0px;
	border-top-color: gray;
	border-style: solid;
	float: left;
	text-indent: 10px;
	line-height: 35px;
}
.menu-li:hover {
	color: rgb(45, 66, 117);
	text-decoration: underline;
	cursor: pointer;
}
.menu-li:first-child {border-top:none; }

.menu-image {
	position: relative;
	top: 2px;
	left: 3px;
	width: 30px;
	float: left
}
.menu-text {
	position: relative;
	top: 2px;
	left: 3px;
	width: 30px;
}
#close-menu {
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 20px;
	display: block;
}
#close-menu:hover {
	color: rgb(45, 66, 117);
	text-decoration: underline;
	cursor: pointer;
}
#loader {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 44%;
	top: 311px;
	z-index: 3;
	display: none;
}
/*end of menu*/

/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */
    @media only screen and (max-width: 767px)
          ,only screen and (max-device-width: 2303px) and (-webkit-device-pixel-ratio: 3) 
          ,only screen and (min-device-width: 1534px) and (-webkit-device-pixel-ratio: 2)  {
        .container { width: 94%; }
        .container .columns,
        .container .column { margin: 0; }

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column  { width: 100%; }
    }
