#new-customer {
	float: left;
	height: 100%;
	clear: both;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0%;
	background-color: rgba(255,255,255,1.00);
	min-height: 0px;
	z-index: 6;
	display:none;
}

#new-customer-number-application {
	top: 476.48px;
	left: 350px;
	
}

#new-customer-number-paper-grade {
	top: 504.3px;
	left: 350px;

}

.new-text-titles{
	color: rgb(45, 66, 117);
	position: fixed;
	width: auto;
	font-size:24px;
}


#New_Customer_Information {
	top: 165px;
	left: 110.594px;
	font-size: 28px;
}


#new-customer-_number-text1 {
	top: 357px;
	left: 170px;
}


#new-customer-number-section {
	top: 448px;
	left: 350px;

}

#new-customer-number-machine {
	top: 420px;
	left: 350px;

}

#new-customer_Number {
	float: left;
	font-size: 20px;
	width: 233.65625px;
	height: auto;
	text-align: left;
	font-weight: normal;
	line-height: 1em;
	font-style: normal;
	letter-spacing: normal;
	text-decoration: none;
	position: fixed;
	top: 369px;
	left: 375px;
	z-index: 2;
	clear: none;
	display: block;
}



#new-paper-grade-text {
	float: left;
	font-size: 1em;
	width: auto;
	height: auto;
	text-align: left;
	font-weight: normal;
	line-height: 1em;
	clear: none;
	min-height: 17px;
	color: rgb(45, 65, 117);
	position: absolute;
	top: 553px;
	left: 380px;
	display: block;
	right: auto;
}


#new-customer-_number-text {
	position: fixed;
	top: 228.5px;
	left: 170px;

}

#new-address {
	float: left;
	font-size: 18px;
	width: auto;
	height: auto;
	text-align: left;
	font-weight: normal;
	clear: none;
	min-height: 21px;
	position: fixed;
	top: 268px;
	left: 385px;
}

#new-city {
	font-size: 18px;
	width: auto;
	position: fixed;
	top: 294px;
	left: 385px;
}
#new-state {
	font-size: 18px;
	width: auto;
	position: fixed;
	top: 320px;
	left: 385px;
}

#new-zip {
	font-size: 18px;
	width: auto;
	position: fixed;
	top: 346.47px;
	left: 385px;
}

#new-country {
	font-size: 18px;
	width: auto;
	position: fixed;
	top: 372px;
	left: 385px;
}
#new-name {
	float: left;
	font-size: 20px;
	width: auto;
	text-align: left;
	font-weight: normal;
	line-height: 1em;
	clear: none;
	position: fixed;
	top: 240px;
	left: 385px;
}

#cusmach-input {
	position: absolute;
	top: 5px;
	left: 150px;
	margin: 0px;
	width: 100px;
}

#cussec-input {
	position: absolute;
	top: 5px;
	left: 150px;
	margin: 0px;
	width: 150px;
}

#cusappl-input {
	position: absolute;
	top: 5px;
	left: 150px;
	margin: 0px;
	width: 250px;
}

#cuspg-input {
	position: absolute;
	top: 5px;
	left: 150px;
	margin: 0px;
	width: 250px;
}

#custname-input {
	position: absolute;
	top: -2px;
	left: 95px;
	margin: 0px;
	width: 250px;
}

#custadd-input {
	position: absolute;
	top: -2px;
	left: 95px;
	margin: 0px;
	width: 250px;
}

#custcity-input {
	position: absolute;
	top: -2px;
	left: 95px;
	margin: 0px;
	width: 150px;
}

#custstate-input {
	position: absolute;
	top: -2px;
	left: 95px;
	margin: 0px;
	width: 150px;
}

#custzip-input {
	position: absolute;
	top: -2px;
	left: 95px;
	margin: 0px;
	width: 110px;
}

#custctry-input {
	position: absolute;
	top: -2px;
	left: 95px;
	margin: 0px;
	width: 110px;
}

/*Nav btns*/
.top-nav-btn {
	top: 68px;
	font-size: 30px;
	width: auto;
	color: rgb(102, 102, 102);
	position: fixed;
}


.top-nav-btn:hover {
    color: rgb(45, 66, 117);
    text-decoration: underline;
}


.top-nav-btn:active {
	
    color: rgb(45, 66, 117);
    text-decoration: underline;
}


@media (max-width : 847px ){
	
	.top-nav-btn {
    font-size: 1.75em;
    width: 290px;
	
}
}
