#productSelectorHistory {
	top: 0px;
	left: 0px;
	display: none;
	width: 100%;
	height: 100%;
	z-index: 6;
	background-size: 100% 100%;
	background-repeat: space;
	background-image: url("../img/Background.png");
	position: fixed;
}

.quotehistory-wrapper {
	
	position:relative;
	top:20px;
	
}

.history-content {
	
	border-bottom:2px solid #000;
	border-top:2px solid #000;
	
}

#dividerH {
	float: left;
	width: 100%;
	max-width: 100%;
	height: 2px;
	color: rgb(0, 0, 0);
	position: fixed;
	top: 70px;
	left: 0px;
	z-index: 191;
	clear: none;
	min-width: 0px;
	bottom: auto;
}

#searchH {
	height: auto;
	font-size: 14px;
	width: 400px;
	color: rgb(153, 153, 153);
	background-image: url("../img/search.png");
	background-repeat: no-repeat;
	-webkit-background-size: 20px;
	background-size: 20px;
	text-indent: 36px;
	background-position: 5px 3px;
	left: 100px;
	top: 215px;
	position: fixed;
	border-radius: 9px;
	
}

#search:link,
#search:visited,
#search:hover,
#search:focus,
#search:active{
	outline:none;
	
}

#search-resultsH {
	float: left;
	height: 430px;
	clear: none;
	width: 472.094px;
	background-color: rgba(255,255,255,1.00);
	position: fixed;
	top: 194px;
	left: 26%;
	z-index: 14;
	display: none;
	border: 1px solid #999999;
	overflow: auto;
	padding:5px;
	
}


.search-resultsH-list{
	display:none; 
	list-style:none; 
	border-width: 1px 0px 0px 0px; 
	border-top-color:gray; 
	border-style:solid;
	height:30px;
	line-height:30px;
	z-index:12;
}

.search-resultsH-list:hover{
	background-color:#e5e5e5;
	cursor:pointer;
	
}

#dividerlineT {
	float: left;
	width: 100%;
	max-width: 100%;
	height: 2px;
	color: rgb(0, 0, 0);
	position: fixed;
	left: 0px;
	z-index: 191;
	clear: none;
	min-width: 0px;
	bottom: auto;
	top: 360px;
}

#btnPDF {
	
	float: left;
	width: 28px;
	max-width: none;
	color: rgb(0, 0, 0);
	position: fixed;
	top: 298px;
	left: 30px;
	z-index: 67;
	clear: none;
	bottom: auto;
	right: auto;
	
}

#btnPDF:hover {
    color: rgb(45, 66, 117);
    text-decoration: underline;
	cursor:pointer;
}

#titleh {
	font-size: 2.25em;
	width: 300px;
	font-weight: normal;
	color: rgb(45, 66, 117);
	position: absolute;
	top: 110px;
	left: 100px;
}

#hcustomer-info {
	float: none;
	width: 960px;
	height: 80px;
	clear: none;
	position: absolute;
	top: 280px;
	left: 48px;
}
#hcustomer-name {
	font-size: 16px;
	width: 500px;
	font-weight: normal;
	color: rgb(102, 102, 102);
	position: absolute;
	top: -8px;
	left: 54px;
}

#hdate-created {
	font-size: 16px;
	width: 500px;
	font-weight: normal;
	color: rgb(102, 102, 102);
	position: absolute;
	top: 25px;
	left: 54px;
}

#hproduct-name {
	font-size: 16px;
	width: 500px;
	font-weight: normal;
	color: rgb(102, 102, 102);
	position: absolute;
	top: -8px;
	left: 417px;
}

#hquote-number {
	font-size: 16px;
	width: 200px;
	font-weight: normal;
	color: rgb(102, 102, 102);
	position: absolute;
	top: -8px;
	left: 754px;
}

#dividerline {
	float: left;
	width: 100%;
	max-width: 100%;
	height: 2px;
	color: rgb(0, 0, 0);
	position: fixed;
	left: 0px;
	z-index: 191;
	clear: none;
	min-width: 0px;
	bottom: auto;
	top: 265px;
}

#btn-history {
	float: left;
	width: 55px;
	height: 60px;
	clear: none;
	color: rgb(0, 0, 0);
	position: fixed;
	top: 570px;
	left: 918px;
	max-width: none;
}

#himage {
	float: left;
	width: 325px;
	height: 275px;
	clear: none;
	color: rgb(0, 0, 0);
	position: fixed;
	top: 680px;
	left: 325px;
	max-width: none;
}

.history {
	font-size: 2.75em;
	width: auto;
	height: auto;
	color: rgb(45, 66, 117);
	top: 625px;
	z-index: 6;
	right: 5.2%;
}
